.font-family {
  font-family: "DM Serif Display ", serif;
  src: url(../fonts/AnyConv.com__DMSerifDisplay-Regular.woff2);
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}

.font-family {
  font-family: "Jost", sans-serif;
  src: url(../fonts/AnyConv.com__Jost-Italic-VariableFont_wght.woff2);
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}

/* Document
 * ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 */
:where(html) {
  line-height: 1.15; /* 1 */
}

/* Sections
 * ========================================================================== */
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */
:where(h1) {
  font-size: 2em;
  margin-block-end: 0.67em;
  margin-block-start: 0.67em;
}

/* Grouping content
 * ========================================================================== */
/**
 * Remove the margin on nested lists in Chrome, Edge, and Safari.
 */
:where(dl, ol, ul) :where(dl, ol, ul) {
  margin-block-end: 0;
  margin-block-start: 0;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Correct the inheritance of border color in Firefox.
 */
:where(hr) {
  box-sizing: content-box; /* 1 */
  color: inherit; /* 2 */
  height: 0; /* 1 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
:where(pre) {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
 * ========================================================================== */
/**
 * Add the correct text decoration in Safari.
 */
:where(abbr[title]) {
  text-decoration: underline;
  text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
:where(b, strong) {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
:where(code, kbd, samp) {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
:where(small) {
  font-size: 80%;
}

/* Tabular data
 * ========================================================================== */
/**
 * 1. Correct table border color in Chrome, Edge, and Safari.
 * 2. Remove text indentation from table contents in Chrome, Edge, and Safari.
 */
:where(table) {
  border-color: currentColor; /* 1 */
  text-indent: 0; /* 2 */
}

/* Forms
 * ========================================================================== */
/**
 * Remove the margin on controls in Safari.
 */
:where(button, input, select) {
  margin: 0;
}

/**
 * Remove the inheritance of text transform in Firefox.
 */
:where(button) {
  text-transform: none;
}

/**
 * Correct the inability to style buttons in iOS and Safari.
 */
:where(button, input:is([type=button i], [type=reset i], [type=submit i])) {
  -webkit-appearance: button;
}

/**
 * Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */
:where(progress) {
  vertical-align: baseline;
}

/**
 * Remove the inheritance of text transform in Firefox.
 */
:where(select) {
  text-transform: none;
}

/**
 * Remove the margin in Firefox and Safari.
 */
:where(textarea) {
  margin: 0;
}

/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */
:where(input[type=search i]) {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */
:where(button, input:is([type=button i], [type=color i], [type=reset i], [type=submit i]))::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */
:where(button, input:is([type=button i], [type=color i], [type=reset i], [type=submit i]))::-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove the additional :invalid styles in Firefox.
 */
:where(:-moz-ui-invalid) {
  box-shadow: none;
}

/* Interactive
 * ========================================================================== */
/*
 * Add the correct styles in Safari.
 */
:where(dialog) {
  background-color: white;
  border: solid;
  color: black;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: fit-content;
}

:where(dialog:not([open])) {
  display: none;
}

/*
 * Add the correct display in all browsers.
 */
:where(summary) {
  display: list-item;
}

.button {
  padding: 26px, 48px, 26px, 48p;
  border: none;
  border-radius: 18px;
  width: 219px;
  height: 75px;
  font-family: "Jost", sans-serif;
  background-color: #406636;
  color: #fff;
}
.button--green {
  background-color: #406636;
  color: #fff;
}
.button--text {
  text-decoration: none;
  color: #fff;
  position: relative;
  cursor: pointer;
  margin-right: 10px;
}
.button--text::after {
  content: "";
  margin-left: 10px;
  background: url("../img/Vector.svg") no-repeat center;
  color: #fff;
  border: 2px;
  width: 20px;
  height: 13px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.button--greend {
  background-color: #406640;
  color: #fff;
  border: 1px;
  border-color: #fff;
  border-style: solid;
  margin-top: 32px;
}
.button--textt {
  text-decoration: none;
  color: #fff;
  position: relative;
  cursor: pointer;
  margin-right: 15px;
}
.button--textt::after {
  content: "";
  margin-left: 10px;
  background: url("../img/Vector.svg") no-repeat center;
  color: #fff;
  width: 20px;
  height: 13px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.section-title__button {
  text-decoration: none;
  color: #fff;
  position: relative;
  cursor: pointer;
}
.section-title__button::after {
  content: "";
  margin-left: 10px;
  background: url("../img/Vector.svg") no-repeat center;
  color: #fff;
  border: 2px;
  width: 20px;
  height: 13px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1220px;
  padding: 38px 0px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.col-50 {
  flex-basis: 50%;
  margin-right: 94px;
}

.footer {
  margin-top: 150px;
}
.footer__high {
  display: flex;
  width: 1199px;
  gap: 101px;
}
.footer__high-links {
  width: 393px;
  gap: 31px;
}
.footer__high-pages {
  width: 125px;
  font-family: "Jost";
  font-size: 22px;
  letter-spacing: 0.01em;
  text-align: left;
}
.footer__high-services {
  width: 125px;
}
.footer__high-contacts {
  width: 258px;
}

.ttext {
  font-family: "Jost";
  font-size: 20px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-align: left;
}

.pages {
  font-family: "DM Serif Display";
  font-size: 25px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(64, 102, 54);
}

.footer__low {
  display: flex;
  border-top: 2px solid rgb(229, 229, 229);
}

.low__textta {
  display: flex;
  font-family: "Jost";
  font-size: 22px;
  line-height: 33px;
  text-align: left;
  color: rgb(77, 80, 83);
}

.low__text2 {
  display: flex;
  margin-left: 550px;
}

.decorative {
  position: relative;
  display: flex;
  background: rgb(64, 102, 54);
  padding: 80px 315px 80px 315px;
  border-radius: 70px;
  margin: auto;
  width: 600px;
}

.hero__contentd {
  width: 569px;
  height: 214px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin: auto;
}

.hero__titlee {
  font-family: "DM Serif Display";
  line-height: 63px;
  font-size: 47px;
}

.hero__texta {
  font-family: "Jost";
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.01em;
}

.news {
  width: auto;
  height: 777px;
  margin-bottom: 250px;
}
.news__section-title {
  width: 737px;
  height: 137px;
  margin: auto;
  text-align: center;
}

.section-title__headingg {
  font-family: "DM Serif Display", sans-serif;
  font-size: 50px;
  color: rgb(41, 47, 54);
  margin: auto;
}

.section-title__texttt {
  font-family: "Jost";
  font-size: 21.5px;
  line-height: 33px;
  color: rgb(77, 80, 83);
}

.rovv {
  position: absolute;
  margin-top: 900px;
  display: flex;
  justify-content: space-around;
  width: 1221px;
  height: 580px;
  text-align: center;
}

.cov-4 {
  position: relative;
}
.cov-4::after {
  content: "Living Design";
  width: 124px;
  height: 41px;
  background: #fff;
  border-radius: 30px;
  position: absolute;
  top: 300px;
  left: 110px;
  transform: translateX(-55%);
}
.cov-4::after__card {
  margin-top: 60px;
}

.text__cardtt {
  font-family: "DM Serif Display", sans-serif;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0px;
  text-align: center;
}
.text__cardr {
  font-family: "Jost";
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-align: center;
  color: rgb(77, 80, 83);
}

.choise {
  margin: auto;
  text-align: center;
  width: 1920px;
  position: relative;
  margin-bottom: 1000px;
  margin-right: 300px;
}
.choise__section-titlee {
  width: 737px;
  height: 137px;
  margin: auto;
  text-align: center;
}
.choise__imgg {
  position: absolute;
  width: 1920px;
  margin-top: 250px;
  left: 0;
  top: 0;
}
.choise::after {
  content: "";
  background: url("../img/play.svg") no-repeat center;
  width: 132px;
  height: 132px;
  position: absolute;
  transform: translateX(-50%);
  margin-top: 400px;
  cursor: pointer;
}

.works {
  width: auto;
  height: 777px;
  margin-bottom: 250px;
}
.works__section-title {
  width: 737px;
  height: 137px;
  margin: auto;
  text-align: center;
}

.section-title__heading {
  font-family: "DM Serif Display", sans-serif;
  font-size: 50px;
  color: rgb(41, 47, 54);
  margin: auto;
}

.section-title__textt {
  font-family: "Jost";
  font-size: 23px;
  line-height: 33px;
  color: rgb(77, 80, 83);
}

.rov {
  position: absolute;
  margin-top: 900px;
  display: flex;
  justify-content: space-around;
  width: 1221px;
  height: 580px;
  text-align: center;
}

.cov-1 {
  position: relative;
}
.cov-1::after {
  content: "";
  margin-left: 10px;
  background: url("../img/4.png") no-repeat center;
  width: 90px;
  height: 100px;
  position: absolute;
  top: 61%;
  transform: translateX(-55%);
}
.cov-1::after__card {
  margin-top: 60px;
}

.cov-2 {
  position: relative;
}
.cov-2::after {
  content: "";
  margin-left: 10px;
  background: url("../img/5.png") no-repeat center;
  width: 90px;
  height: 100px;
  position: absolute;
  top: 61%;
  transform: translateX(-55%);
}
.cov-2::after__card {
  margin-top: 60px;
}

.cov-3 {
  position: relative;
}
.cov-3::after {
  content: "";
  margin-left: 10px;
  background: url("../img/6.png") no-repeat center;
  width: 90px;
  height: 100px;
  position: absolute;
  top: 61%;
  transform: translateX(-55%);
}
.cov-3::after__card {
  margin-top: 60px;
}

.card__image {
  border-radius: 50px;
}

.text__cardd {
  margin-top: 60px;
}
.text__cardt {
  font-family: "DM Serif Display", sans-serif;
  font-size: 24px;
  line-height: 33px;
}
.text__card {
  font-family: "Jost";
  font-size: 22px;
  line-height: 33px;
}

.projects {
  margin-top: 120px;
  margin-bottom: 270px;
}

.section-title-heading {
  font-size: 50px;
  color: rgb(41, 47, 54);
  font-family: "DM Serif Display", sans-serif;
}

.section-title__text {
  font-size: 22px;
  line-height: 33px;
  font-family: "Jost";
  display: inline-block;
}

.section-title__text1 {
  margin: auto;
  line-height: 7px;
}

.section-title__text1 {
  color: rgb(77, 80, 83);
}

.section-title--left {
  width: 472px;
  height: 614px;
}

.section-title--right {
  width: 653px;
  height: 700px;
}

.section-title__phone {
  display: flex;
  width: 277px;
  height: 93px;
  padding: 30px 0px 30px 0px;
}

.section-title--right {
  position: relative;
}
.section-title--right::before {
  content: "";
  margin-left: 10px;
  background: url("../img/Rectangle 82.png") no-repeat;
  width: 240px;
  height: 323px;
  position: absolute;
  top: 555px;
  left: 420px;
  transform: translateY(-50%);
  z-index: -1;
}

.types__text {
  width: 358px;
  font-family: "DM Serif Display", sans-serif;
  font-size: 26px;
  color: rgb(41, 47, 54);
  text-align: center;
}
.types__text1 {
  font-family: "Jost";
  font-size: 22px;
}
.types__text2 {
  font-family: "Jost";
  font-size: 18px;
  color: #000;
  transition: 0.5s linear;
  position: relative;
  cursor: pointer;
  margin-right: 10px;
}
.types__text2::after {
  content: "";
  margin-left: 10px;
  background: url("../img/Vector1.svg") no-repeat center;
  color: #fff;
  border: 2px;
  width: 20px;
  height: 13px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.types__text2:hover {
  color: #406636;
}

.log {
  margin-top: 90px;
  display: flex;
  align-items: center;
  width: 1174px;
  height: 102px;
  justify-content: space-between;
  opacity: 50%;
}

.hero {
  position: relative;
  display: flex;
  padding-top: 100px;
  background: url("../img/Photo.jpg") no-repeat center/cover;
  height: 1042px;
  border-radius: 0px 0px 150px 150px;
}
.hero__content {
  margin-bottom: 350px;
  width: 593px;
  height: 392px;
}
.hero__text {
  font-family: "Jost", sans-serif;
  color: #4D5053;
  font-size: 21px;
  line-height: 31.5px;
  max-width: 500px;
  margin: 0;
  margin-bottom: 40px;
}

.title {
  margin: 0;
  font-family: "DM Serif Display";
  color: #292F36;
  font-size: 75px;
  line-height: 93px;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 95;
  background-color: #fff;
  padding: 0px 32px;
}

.block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.block__left {
  display: contents;
}

.logo {
  color: #292F36;
  text-transform: uppercase;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  word-spacing: 20px;
}
.menu__img {
  display: inline-block;
  font-size: 40px;
  font-family: "DM Serif Display";
}
.menu__seach {
  margin-right: 29px;
}

.nav {
  display: inline-block;
  text-decoration: none;
  width: 466px;
  height: 25px;
  font-family: "Jost", sans-serif;
}
.nav__item {
  position: relative;
  text-decoration: none;
  color: #292F36;
  display: inline-block;
}
.nav__item::after {
  position: absolute;
  content: "";
  display: block;
  height: 2px;
  margin-top: 14px;
  background-color: #406636;
  transition: 0.5s;
  width: 0%;
  cursor: pointer;
}
.nav__item:hover::after {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .menu {
    display: none;
  }
  .hero {
    text-align: center;
  }
  .hero__content {
    margin-left: 200px;
  }
  .log {
    flex-direction: column;
    margin-bottom: 200px;
    line-height: -20px;
  }
  .types {
    flex-direction: column;
  }
}
body {
  font-size: 20px;
  margin: 0px;
  overflow-x: hidden;
}