.container
 max-width: 1220px 
 width: 100%
 padding: 0px 30px
 margin: 0 auto
 // display: flex
 // justify-content: space-between
 // align-items: center
.row
 display: flex
 justify-content: space-between
 align-items: flex-start
.col
 &-50
  flex-basis: 50%
  margin-right: 94px
 
