.button
 padding: 26px, 48px, 26px, 48px
 border: none
 border-radius: 18px
 width: 219px
 height: 75px
 &--green 
  background-color: $green
  color: $light
 &--text 
  text-decoration: none
  color: $light
  font-family: 'Jost', sans-serif 
  width: 135px
  height: 23px
  &::after
   content: ''
   margin-left: 10px
   background: url('../img/Vector.svg') no-repeat center
   color: $light
   border: 2px
  
      
  
  
  