@media screen and ( max-width: 1200px ) 
 .menu
  display: none
 .hero
  text-align: center
  &__content
   margin-left: 200px
 .log
  flex-direction: column
  margin-bottom: 200px
  line-height: -20px 
 .types
  flex-direction: column
 
  