@media screen and ( max-width: 1199px )



 
@media screen and ( max-width: 991px )
 .header
  text-align: center
  width: auto
 .hero
  text-align: center
  // &__content
  &__text 
    margin-left: 50px
 .types
  flex-direction: column
 .row
  flex-direction: column
  margin-left: 300px
  text-align: center
 .works__section-title
  margin-left: 300px
 .rov
  display: block
 .choise
  margin-bottom: 200px

@media screen and ( max-width: 767px )
  .container
    width: auto
    display: block
    text-align: center

