.font-family  {
 font-family: 'DM Serif Display ', serif;
 src: url(../fonts/AnyConv.com__DMSerifDisplay-Regular.woff2);
 font-weight: normal;
 font-style: normal;
 font-display: wrap;
}
.font-family{
 font-family: 'Jost', sans-serif;
 src: url(../fonts/AnyConv.com__Jost-Italic-VariableFont_wght.woff2);
 font-weight: normal;
 font-style: normal;
 font-display: wrap;
}