@import 'fonts'
@import 'normalize'
@import 'variables'
@import 'interface'
@import 'grid'
@import 'setings'
@import 'templates/footer'
@import 'templates/decorative'
@import 'templates/news'
@import 'templates/choise'
@import 'templates/works'
@import 'templates/projects'
@import 'templates/types'
@import 'templates/log'
@import 'templates/hero'
@import 'templates/header'

@import 'media'

body
 margin: 0px
 // overflow-x: hidden
 font-family: 'Jost', sans-serif
 font-size: 22px
 font-weight: 400
 line-height: 33px
 text-align: center
 color: rgba(77, 80, 83, 1)
