.choise
 margin: auto
 text-align: center
 width: auto
 position: relative
 margin-bottom: 1000px
 &__section-titlee
  width: 737px
  height: 137px
  margin: auto
  text-align: center
 &__imgg
  position: absolute
  width: 1199px
  margin-top: 300px
  left: 0
  top: 0 
 &::after
  content: ''
  background: url('../img/play.svg') no-repeat center
  width: 132px
  height: 132px
  position: absolute
  transform: translateX(-50%)
  margin-top: 400px
  cursor: pointer
.section-title-headingg
 font-family: 'DM Serif Display' 
 font-size: 50px
 line-height: 63px
 color: rgba(41, 47, 54, 1)

 


