.choise
 margin: auto
 text-align: center
 width: 1920px
 position: relative
 margin-bottom: 1000px
 margin-right: 300px
 &__section-titlee
  width: 737px
  height: 137px
  margin: auto
  text-align: center
 &__imgg
  position: absolute
  width: 1920px
  margin-top: 250px
  left: 0
  top: 0 
 &::after
  content: ''
  background: url('../img/play.svg') no-repeat center
  width: 132px
  height: 132px
  position: absolute
  transform: translateX(-50%)
  margin-top: 400px
  cursor: pointer
 


