.header
 background-color: #fff
 padding: 0px 32px
.block
 display: flex
 justify-content: space-between
 align-items: center
 &__left
  display: contents
.logo
 color: $dark
 text-transform: uppercase
.menu
 display: flex
 align-items: center
 word-spacing: 20px 
 
 &__seach
  margin-right: 29px
.nav
 margin-right: 53px
 &__item
  text-decoration: none
  color: $dark
 
  
