.hero
 position: relative
 display: flex
 padding-top: 100px
 background:  url('../img/Photo.jpg') no-repeat center / cover 
 height: 1042px
 border-radius: 0px 0px 150px 150px
 &__content
  margin-bottom: 350px
  width: 593px
  position: relative
  text-align: start
 &__img
  border-radius: 0px 0px 150px 150px
 &__text
  color: #4D5053
  font-size: 21px
  line-height: 31.5px
  max-width: 500px
  margin-bottom: 40px
.title
 margin: 0
 font-family: 'DM Serif Display'
 color: #292F36
 font-size: 75px
 line-height: 93px
 
 


