.types
 width: 1220px
 height: 271px
 margin-top: 90px
 margin-left: 373px
 &__text
  width: 358px
  font-family: 'DM Serif Display' , sans-serif
  font-size: 26px
  color: rgba(41, 47, 54, 1)
  text-align: center
 &__text1
  font-family: 'Jost'
  font-size: 22px
 &__text2
  font-family: 'Jost'
  font-size: 18px
  color: #000
  transition: 0.5s linear 
  position: relative
  &::after
   position: absolute
   content:'111'
   background: url('../img/Vector1.svg') no-repeat center 
   margin-left: 5px
   border: 2px
  &:hover
   color: $green