.works
 width: auto
 height: 777px
 margin-bottom: 250px
 &__section-title
  width: 737px
  margin: auto
.section-title__heading
 font-family: 'DM Serif Display', 
 font-size: 50px
 color: rgba(41, 47, 54, 1)
 margin: auto
.rov
 position: absolute
 margin-top: 900px
 display: flex
 justify-content: space-around
 width: 1221px
 height: 580px
 text-align: center
.cov-1
 position: relative
 &::after
  content: ''
  margin-left: 10px
  background: url('../img/4.png') no-repeat center
  width: 90px
  height: 100px
  position: absolute
  top: 61%
  transform: translateX(-55%)
  &__card
   margin-top: 60px
.cov-2
 position: relative
 &::after
  content: ''
  margin-left: 10px
  background: url('../img/5.png') no-repeat center
  width: 90px
  height: 100px
  position: absolute
  top: 61%
  transform: translateX(-55%)
  &__card
   margin-top: 60px
  
.cov-3
 position: relative
 &::after
  content: ''
  margin-left: 10px
  background: url('../img/6.png') no-repeat center 
  width: 90px
  height: 100px
  position: absolute
  top: 61%
  transform: translateX(-55%)
  &__card
   margin-top: 60px
  

.card
 &__image
  border-radius: 50px
  width: 381px
.text
 &__cardd
  margin-top: 60px
 &__cardt
  font-family: 'DM Serif Display' , sans-serif
  font-size: 24px
  line-height: 33px
 &__card
  font-family: 'Jost' 
  font-size: 22px
  line-height: 33px

